body {
  background-color: rgb(207, 236, 220);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 20px auto;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

header {
  margin-top: 120px;
}

h1 {
  padding: 20px;
  text-align: center;
  color: seagreen;
  font-weight: 800px;
  font-size: 40px;
  line-height: 1.5;
}

form {
  padding: 20px;
}

input {
  padding: 16px;
  border: 1px solid lightgray;
  border-radius: 30px;
  width: 60%;
}

button {
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  background-color: seagreen;
  color: white;
  width: 30%;
  margin-left: 10px;
}

.recipe {
  max-width: 600px;
  background: white;
  margin: 10px auto;
  font-size: 16px;
  padding: 20px;
  line-height: 2;
  border-left: 2px solid seagreen;
}

footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 16px;
  color: gray;
}

a {
  text-decoration: underline;
  color: seagreen;
}

small {
  color: grey;
  padding: 20px;
}

.hidden {
  display: none;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
